# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build Scan and Publish Image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: Docker@2
      displayName: Build Image
      inputs:
        repository: 'achdevops/holapy-azure/azue'
        command: 'build'
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: $(tag)
        
    - task: DownloadSecureFile@1
      name: neuvectorLicense
      displayName: Get NeuVector license
      inputs:
        secureFile: 'nv-sep.license'
    
    - task: NeuVectorScan@2
      displayName: Scan image with NeuVector
      inputs:
        scanType: 'standalone'
        license: '$(neuvectorLicense.secureFilePath)'
        nvContainerRegistry: 'nv-registry'
        nvRepository: 'registry.neuvector.com/scanner'
        nvTag: 'latest'
        repository: 'achdevops/holapy-azure'
        tag: '$(Build.BuildId)'
        failOnHighSeverityThreshold: true
        highSeverityThreshold: '5'
        failOnMediumSeverityThreshold: true
        mediumSeverityThreshold: '5'
    - script: |
        docker tag achdevops/holapy-azure:$(Build.BuildId) registry.hub.docker.com/achdevops/holapy-azure:$(Build.BuildId)
    - task: Docker@2
      displayName: Push Image
      inputs:
        containerRegistry: 'dockerhub'
        repository: 'achdevops/holapy-azure'
        command: 'push'
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
    
    - download: current
      patterns: '**/*.json'