# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build - Scan and Publish
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: Docker@2
      displayName: Build Image
      inputs:
        repository: 'achdevops/holapy-azure'
        command: 'build'
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: $(tag)
        
    - task: DownloadSecureFile@1
      name: neuvectorLicense
      displayName: Get NeuVector license
      inputs:
        secureFile: 'license-may.txt'
    
    - task: NeuVectorScan@2
      displayName: Scan image with NeuVector
      inputs:
        scanType: 'standalone'
        license: '$(neuvectorLicense.secureFilePath)'
        nvContainerRegistry: 'dockerhub'
        nvRepository: 'neuvector/scanner'
        nvTag: 'latest'
        containerRegistry: 'dockerhub'
        repository: 'achdevops/holapy-azure'
        tag: '$(Build.BuildId)'    
    - task: Docker@2
      displayName: Push Image
      inputs:
        containerRegistry: 'dockerhub'
        repository: 'achdevops/holapy-azure'
        command: 'push'
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
    
    - download: current
      patterns: '**/*.json'