# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build and Push an image
      inputs:
        containerRegistry: 'dockerhub'
        repository: 'achdevops/holapy-azure'
        command: 'buildAndPush'
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
    - task: DownloadSecureFile@1
      name: neuvectorLicense
      displayName: Get NeuVector license
      inputs:
        secureFile: 'license-may.txt'
    #- task: NeuVectorScan@1
     # inputs:
      #  controllerType: 'external'
       # neuvectorController: 'nv-gke'
       # containerRegistry: 'dockerhub'
       # repository: 'achdevops/holapy-azure'
        #tag: '$(Build.BuildId)'
        #reportJsonOutputPath: '$(Pipeline.Workspace)/report.json'
        #failOnHighSeverityThreshold: true
        #highSeverityThreshold: '1'
        #failOnMediumSeverityThreshold: true
        #mediumSeverityThreshold: '3'
    - task: NeuVectorScan@1
      inputs:
        controllerType: 'local'
        controllerLicense: '$(neuvectorLicense.secureFilePath)'
        containerRegistry: 'dockerhub'
        repository: 'achdevops/holapy-azure'
        tag: '$(Build.BuildId)'
    - download: current
      patterns: '**/*.json'
resources:
  containers:
  - container: neuvector
    image: neuvector/controller:3.0.0.b3
    endpoint: 'dockerhub'
    ports:
      - 18300:18300
      - 18301:18301
      - 18400:18400
      - 18401:18401
      - 10443:10443
    volumes:
      - /lib/modules:/lib/modules
      - /var/neuvector:/var/neuvector
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys/fs/cgroup:/host/cgroup
      - /proc:/host/proc
    options: --pid=host --cap-add=SYS_ADMIN --cap-add=NET_ADMIN --cap-add=SYS_PTRACE --cap-add=IPC_LOCK --security-opt apparmor:unconfined --env CLUSTER_JOIN_ADDR=neuvector --env CTRL_SERVER_PORT=10443