name: Docker Image CI

on:
  push:
    branches: [ "feature/actions" ]
  pull_request:
    branches: [ "feature/actions" ]
env:
  LICENSE: "OSS"
  SCANNER_IMAGE: "neuvector/scanner:latest"
  IMAGE_NAME: "ghcr.io/achdevops/hello-world/pyhton-in-actions"
jobs:
  build-scan-publish:
    runs-on: ubuntu-latest
    environment: secrets

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag $IMAGE_NAME:$GITHUB_RUN_NUMBER
    
    - name: Log in to the Container registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.MY_TOKEN }}
    
    - name: Push Image2Registry
      run: docker push $IMAGE_NAME:$GITHUB_RUN_NUMBER
